@use '../../scss/mixins';
@import '../../scss/variables';

.fileExplorer {
  @include mixins.fullscreen;
  position: relative;
  display: flex;
  flex-direction: column;
  background: $whiteBackground;
}

.programWindowButton {
  @include mixins.programTaskBarButton;
}

.tableWrapper {
  overflow-y: auto;
  width: 100%;
  background-color: $whiteBackground;
}

.explorerContent {
  display: flex;
  background-color: $whiteBackground;
  height: 100%;
}

.sideFolders {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: $textColor;
  width: 230px;
  min-width: 230px;
  height: 100%;
  border-left: 1px solid $whiteBackground;
  border-bottom: 1px solid $whiteBackground;
  border-top: 1px solid grey;
}

