@use '../../scss/mixins';
@import '../../scss/variables';

.fileExplorer {
  @include mixins.fullscreen;
  position: relative;
  display: flex;
  flex-direction: column;
  background: $whiteBackground;
}

.programWindowButton {
  @include mixins.programTaskBarButton;
}

.tableWrapper {
  overflow-y: scroll;
}

table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
  cursor: alias;
}

td {
  @include mixins.tableDataTableHead;
  background-color: transparent;
  color: #333333;
  text-align: left;
  padding: 8px;

  & > p {
    @include mixins.truncateText;
    background-color: transparent;
    color: #000000;
  }
}

tr {
  background-color: $whiteBackground;
}

.fileDataInfoWrapper:hover {
  background-color: $selectedBackground;
}

.selectedFile {
  @include mixins.disableSelectText;
  background-color: $selectedBackground;
}

