@use '../../../scss/mixins';

.inputField {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  height: 3rem;
  padding: 1.1rem 2rem;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  border-bottom: 1px solid;
  width: 100%;

  &:active, &:focus, &:hover {
    outline: 0;
    -webkit-appearance: none;
    box-shadow: none;
  }
}

.errorBorder {
  @include mixins.errorBorder;
}
