@use '../../scss/mixins';
@import "../../scss/variables";

.programBar {
  @include mixins.programBarWindow;
  cursor: grabbing;
}

.browserIcon svg {
  fill: $browserIconColor;
}

.newsIcon svg {
  fill: $newsIconColor;
}

.programBarLabel {
  @include mixins.truncateText;
  max-width: 300px;
}
