@use '../../scss/mixins';

.desktop {
  @include mixins.wallpaperBg;
  @include mixins.pageAnimation;
  height: 94vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../assets/desktop-background.png");
}

