@use './scss/mixins';
@import "./scss/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

* {
  @include mixins.reset;
  box-sizing: border-box;

  background-color: $secondaryColor;
  color: $textColor;
}

html, body, #root {
  @include mixins.reset;
  @include mixins.fullscreen;

  overflow: hidden !important;
  font-size: $defaultFontSize;
}

.disableSelection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
